input, button {
    text-align: center;
    color: #93BBB9;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #93BBB9;
}

:-moz-placeholder {
    text-align: center;
    color: #93BBB9;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #DEF2F1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}


body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

/* Styling base.html */

body {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    height: 82vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .navbar {
    max-width: 90vw;
    padding: 0 4rem;
    height: 10vh;
    margin: 0 auto;
    display: flex;
}

header .navbar .navbar__logo {
    flex: 1;
    display: flex;
    align-items: center;
}

header .navbar .navbar__btn {
    flex: 3;
    display: flex;
}

header .navbar .navbar__btn .navbar__links {
    flex: 2;
}

header .navbar .navbar__btn .navbar__sign {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar .navbar__logo .logo {
    font-family: 'Abhaya Libre';
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    color: #17242A;
    letter-spacing: 1px;
}

header .navbar .navbar__btn .navbar__sign .btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    border: 2px solid #3AAFA9;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: 0.3s;
}

.btn.solid, .btn.transparent:hover {
    background-color: #3AAFA9;
    color: #fff;
}

.btn.transparent, .btn.solid:hover {
    background-color: transparent;
    color: #3AAFA9;
}

.navbar__username {
    padding: .5rem 1.3rem;
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    margin: 0 .2rem;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: #17242A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    padding: 2px;
}

/* styling index.html */

.container {
    position: relative;
    top: 20px;
    min-height: 82vh;
    /* background-image: url('img/image.png') left ; */
    background: linear-gradient(to right, rgba(0,0,0,0.75) 30%, #3AAFA9 80%) left no-repeat,
    url('img/image.jpg') center;
    background-size: cover ;
}

.container__text-block {
    position: absolute;
    top: 10rem;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 60px;
}

.container .container__text-block h1 {
    font-family: Abhaya Libre;
    word-spacing: 1px;
}

.container .container__text-block p {
    font-family: Abhaya Libre;
    padding-top: 20px;
    word-spacing: 1px;
}

@media screen and (min-width: 320px) {
  .container .container__text-block p {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
  .container .container__text-block h1{
    font-size: calc(25px + 6 * ((100vw - 320px) / 680)); 
  }
}

/* styling login.html */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .leftBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .leftBx {
    position: relative;
    background-color: #17242A;
    width: 40%;
    height: 100%;
}

section .leftBx a {
    text-decoration: none;
    font-weight: 500;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    color: #DEF2F1;
    padding-left: 1rem;
    font-family: 'Abhaya Libre';
    font-size: 4rem;
    font-weight: bold;
}

section .loginBx {
    background-color: #2B7A77;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

section .loginBx .loginBx__formBx {
    width: 50%;
    text-align: center;
    position: relative;
}

section .loginBx .loginBx__formBx h2 {
    width: 40%;
    color: #DEF2F1;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
    border: 3px solid #DEF2F1 ;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section .loginBx .loginBx__formBx .loginBx__inputBx input {
    width: 100%;
    padding: 20px 20px;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section .loginBx .loginBx__formBx .loginBx__inputBx input[name="login"] {
    background-color: #3AAFA9;
    position: absolute;
    color: #FFFFFF;
    width: 150px;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
}

section .loginBx .loginBx__formBx .loginBx__inputBx .loginBx__backBtn {
    background-color: #DEF2F1;
    position: absolute;
    color: #17242A;
    width: 150px;
    left: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

section .loginBx .loginBx__formBx .loginBx__inputBx input[name="login"]:hover {
    background-color: #2da8a2;
}

section .loginBx .loginBx__formBx .loginBx__inputBx .loginBx__backBtn:hover {
    background-color: #d3e8e7;
}

section .loginBx .loginBx__formBx .loginBx__remember {
    margin-bottom: 10px;
    color: #DEF2F1;
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 2px;
}

section .loginBx .loginBx__formBx .loginBx__remember a {
    margin-bottom: 10px;
    color: #DEF2F1;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 2px;
    margin-left: auto;
    text-decoration: none;
}

@media (max-width: 1050px) {
    section {
        flex-direction: column;
    }
    section .leftBx {
        width: 100%;
        height: 10vh;
    }
    section .loginBx {
        width: 100%;
        height: 90vh;
    }
}

@media (max-width: 690px) {
    section .loginBx .loginBx__formBx h2 {
        font-size: 2rem;
    }
    section .loginBx .loginBx__formBx .loginBx__inputBx input[name="login"] {
        text-align: center;
        font-size: 2rem;
    }
    section .loginBx .loginBx__formBx {
        width: 70%;
    }
}

/* styling registration.html */
section .signupBx .signupBx__formBx h3 {
    width: 60%;
    color: #DEF2F1;
    font-weight: 600;
    font-size: 2.5vw;
    margin-bottom: 40px;
    border: 3px solid #DEF2F1 ;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section .signupBx {
    background-color: #2B7A77;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

section .signupBx .signupBx__formBx {
    width: 50%;
    text-align: center;
    position: relative;
}

section .signupBx .signupBx__formBx .signupBx__inputBx input {
    width: 100%;
    padding: 20px 20px;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section .signupBx .signupBx__formBx .signupBx__inputBx input[name="signup"] {
    background-color: #3AAFA9;
    position: absolute;
    color: #FFFFFF;
    width: 150px;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
}

section .signupBx .signupBx__formBx .signupBx__inputBx .signupBx__backBtn {
    background-color: #DEF2F1;
    position: absolute;
    color: #17242A;
    width: 150px;
    left: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

section .signupBx .signupBx__formBx .signupBx__inputBx input[name="signup"]:hover {
    background-color: #2da8a2;
}

section .signupBx .signupBx__formBx .signupBx__inputBx .signupBx__backBtn:hover {
    background-color: #d3e8e7;
}

section .signupBx .signupBx__formBx .signupBx__terms {
    margin-bottom: 10px;
    color: #DEF2F1;
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 2px;
}

section .signupBx .signupBx__formBx .std-spv {
    width: 100%;
    padding: 20px 20px;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section .signupBx .signupBx__formBx .signupBx__dropdownBx {
    width: 100%;
    position: relative;
    color: #FFFFFF;
    display: inline-block;
}

section .signupBx .signupBx__formBx .std-spv-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

section .signupBx .signupBx__formBx .std-spv-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Public Sans', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    display: block;
}

section .signupBx .signupBx__formBx .std-spv-content a:hover {
    background-color:#d3e8e7;
}

section .signupBx .signupBx__formBx .signupBx__dropdownBx:hover .std-spv-content {
    display: block;
}

section .signupBx .signupBx__formBx .signupBx__dropdownBx:hover .std-spv {
    background-color: #3AAFA9;
}

section .signupBx .signupBx__formBx .signupBx__terms a {
    margin-bottom: 10px;
    color: #DEF2F1;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 2px;
    margin-left: auto;
    text-decoration: none;
}
